.title {
    font-family: Playfair Display, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 72px;
}

.content {
    font-family: Nunito, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 150%;
    color: #828282;
}

.dot {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.center img {
   float: right;
}


.chatSvg {
    position: absolute;
    width: 31%;
    bottom: 173px;
    left: 53px;
    z-index: -1;
}
