html {
    --body-padding: 121px;
}
.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 13rem;
    height: 8rem;
    margin-left: calc(var(--body-padding) * -1);
    width: calc(100% + calc(var(--body-padding) * 2));
}

.footer_wave {
    width: 100%;
    flex-shrink: 0;
    overflow: visible;
}

.footer_copyWrite {
    margin-top: 2rem;
    font-weight: 600;
    font-size: 0.875rem;;
    color: #88869B;
}

